<h1>Congratulations <%= @user.first_name %>, your account has been created.</h1>

<h3>Please click 'Login' to begin.</h3>

<form action="/account/enter" method="get">
  <input type="submit" value="Login page">
</form>
