<h1>Login</h1>

<h3><%= flash[:notice1] %></h3>
<h3><%= flash[:notice2] %></h3>

<form action="enter" method="post">

  <input type="text" id="user_name" name="user_name" placeholder="User Name" autofocus required/>

  <input type="text" id="password" name="password" placeholder="Password" required />

  <input type="submit" value="Login">
</form>

<form action="/account/register" method="get">
  <input type="submit" value="Register">
</form>
