<H1>You have successfully logged out <%= @user.first_name %>.</H1>

<form action="/account/enter" method="get">
  <input type="submit" value="Login"/>
</form>

<form action="/" method="get">
  <input type="submit" value="Register"/>
</form>
