<H1>You have successfully logged out.</H1>

<form action="enter" method="get">
  <input type="submit" value="Login"/>
</form>

<form action="/" method="get">
  <input type="submit" value="Register"/>
</form>
